*{
    margin: 0;
    padding: 0;
    text-decoration: none;

}
body{
    background-color: rgb(230, 230, 230);
}

.container{
    display: flex;
    
    background-color: #131921;
    gap: 30px;
}

.logo img{
    height: 35px;
    width: 100x;
    position: relative;
    margin-top: 18px;
    margin-left: 15px;
    padding-bottom: 10px;
    
}

.address {
    color: white;
    margin-top: 13px;
    font-size: 13px;

}
 
.update{
    display: flex;
    
}


.search-bar select{
    width: 50px;
    background-color: rgb(228, 222, 222);
    border-top-left-radius:5px ;
    border-bottom-left-radius: 5px;
    border: none;
    border-right: 1px solid rgb(197, 191, 191);
}


.search-bar{
    height: 35px;
     display: flex;
    margin-top: 15px;
    border: none;
    
}
.search-bar input{
    height: 35px;
    position: relative;
    margin-bottom:10px ;
    width: 500px;
    border: none;
    top: px;
}


.search {
    background-color: rgb(243, 169, 71);
    width: 38px;
    height: 35px;
    position: relative;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    
}
.search svg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    
}

.language{
    position: relative;
    top: 19px;
    border: none ;
    
}
.language select{
    border: none;
}

.language img {
    width: 20px;
}

.language select{
    border: none;
    color: white;
    background-color: #131921;
    font-family: sans-serif;
    
}
.search-bar option{
    background-color: white;
    
}

.sign-in{
    color: white;
    position: relative;
    top: 19px;
}
.order-detail{
    color: white;
    position: relative;
    top: 19px;
}
.cart{
     position: relative;
     top: 7px;
     
    
}
.cart i{
    font-size: 50px;
}  
.info{
    display: flex;
    position: relative;
    background-color:#232f3e ; 
    justify-content: space-between;   
}
.info ul{
    text-decoration: none;
    list-style-type: none;
    font-size: 17px;
}
.option ul{
    display: flex;
    gap: 13px;
}
.header1{ 
    display: flex;
    position: relative;
    left:10px ;
    font-weight: bold;

    
}
.info a{ 
    color: white;
    position: relative;
    top: 10px;
}

.option{
    position: relative;
    right: 30px;
}
.header1 i{
    position: relative;
    top: 5px;
    font-size: 30px;
    
}
